
/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.max-w-430 {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
