
/* Event Description Section */
.event-description-section {
  padding: 30px 30px 30px 30px;
  background-color: var(--darkest-blue);
}

.info-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  margin-bottom: 15px;  
}

.info-icon {
  width: var(--spacing-lg);
  height: var(--spacing-lg);
}

.info-title {
  font-size: 23px;
  color: var(--white);
  font-weight: 500;
}

.info-list {
  list-style-type: disc;
  padding-left: var(--spacing-xl);
  margin-bottom: 60px;
}

.info-item {
  font-size: 19px;
  color: var(--white);
  margin-bottom: var(--spacing-sm);
  line-height: 1.4;  
  letter-spacing: -1px;
}

.info-item.no-marker {
  list-style: none;
  padding-left: 0;
}

.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 122px;
  width: 346px;
  background-color: #1A5F7A;
  color: var(--white);
  font-size: var(--font-size-5xl);
  opacity: 0.9;
  font-weight: 400;
  border-radius: var(--radius-full);
  text-align: center;
  text-decoration: none;
  line-height: 1.2;
  margin: 00px auto 50px auto;
  font-family: var(--font-primary);
}

.download-button:hover {
  background-color: #1d6e8c;
}
