
/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.pagination-content {
  display: flex;
  gap: 5px;
}

.page-item {
  width: 30px;
  height: 30px;
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--white);
  padding-bottom: 1px;
}

.page-item.active {
  background-color: var(--white);
  color: #002032;
}

.page-item.disabled {
  opacity: 0.5;
  pointer-events: none;
}
