/* Winners Section */
.winners-section {
  width: 100%;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 8px;
}

.winners-title {
  display: block;
  position: relative;
  width: fit-content;
}

.title-text {
  display: block;
  font-size: var(--font-size-3xl);
  font-weight: bold;
  color: var(--white);
}

.title-underline {
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: var(--gold);
  margin-top: 5px;
}

.winners-count {
  font-family: var(--font-primary);
  font-size: 42px;
  color: var(--white);
  font-weight: 400;
  display: block;
  width: 100%;
  text-align: center;
}

.member-list {
  width: 100%;
  margin-top: 8px;
  margin-bottom: var(--spacing-lg);
}

.member-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  margin-bottom: 10px;
  background-color: var(--navy);
}

.member-profile {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  flex: 1;
  min-width: 0;
}

.member-avatar {
  width: var(--profile-img-size);  
  height: var(--profile-img-size);
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--white);
}

.member-nickname {
  font-size: 25px ;
  color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: -1px;
}

.member-amount {
  font-size: 30px;
  font-weight: 400;
  color: var(--gold);
  position: relative;
  top: -1px;
  letter-spacing: -0.6px;
}

.unit-label {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 12px 0px 0px;
  font-size: var(--font-size-md);
  color: var(--white);
  text-align: right;
}
